.card-img {
    object-fit: contain !important;
    background-color: white !important;
}

.card-container {
    width: 330px;
    height: 400px !important;
}

.card-item {
    height: 100%;
    background-color: rgb(253, 253, 253);
    color: #ccc;
    background-color: #ccc(46, 46, 46);
    border: 1px solid #a1a1a1;
    box-shadow: 1px 1px 1px 1px #818180 !important;
    text-align: center;
}

.card-content {
    color: rgb(29, 29, 29);  
}

.card-btn {
    border: 1px solid #ccc !important;
    background-color: rgba(255, 123, 0, 0.884) !important;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    padding: 8px !important;
    float: right;
    color: rgb(255, 255, 255) !important;
    font-size: 12px !important;
}

.card-btn:hover {
    background-color: rgb(212, 212, 212) !important;
    color: rgba(255, 123, 0, 0.884)  !important;
}

.card-price {
    font-size: 14px;
}

.card-desc {
    font-style: italic;
    color: rgb(117, 117, 117) !important;
    font-size: 12px;
}