.products h2 {
  color: rgb(67, 67, 67);
  margin: 2rem auto;
  text-align: center;
  text-transform: uppercase; 
} 

.products {
  background-color: #fbfbfb;
  margin-top: 120px;
}

.products ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 100px;
}

.products input {
  display: flex;
  margin: 60px auto;
  width: 730px !important;
  border: 2px solid #333333;
  padding: 10px;
}

.badge {
  margin-right: 50px !important;
}


@media screen and (max-width: 930px) {
  .products ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    margin: 49px;
  }
}

@media screen and (max-width: 600px) {
  .products ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    margin: 30px;
    grid-template-columns: auto;
  }
}