.products h2 {
  color: white;
  margin: 2rem auto;
  text-align: center;
  text-transform: uppercase;
}

.products ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  margin: 30px;
  grid-template-columns: auto auto auto;
  margin-left: 100px;
}

.badge {
  margin-right: 50px !important;
}


@media screen and (max-width: 930px) {
  .products ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    margin: 49px;
  }
}

@media screen and (max-width: 600px) {
  .products ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    margin: 30px;
    grid-template-columns: auto;
  }
}