.item {
  margin: 1rem 0;
  padding: 1rem;
  list-style-type: none;
  border-bottom: 1px solid #ccc;
}

.item h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.20rem;
  margin-right: 35px;
}

.item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.head {
  margin-right: 120px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity span {
  font-size: 1.2rem;
  font-weight: bold;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
}

.itemprice {
  font-weight: normal;
  font-size: 1rem;
  font-style: italic;
}

.image {
  object-fit: contain;
  width: 70px;
  height: 70px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
}

.actions button {
  background-color: transparent;
  border: 1px solid #ccc;
  margin-left: 0.5rem;
  padding: 0.15rem 1rem;
  color: rgb(5, 5, 5);
}

.actions button:hover,
.actions button:active {
  background-color: #4b4b4b;
  color: white;
}


.deleteAll {
  border: none !important;
  background-color: #fff !important;
  float: right !important;
}

.deleteAll:hover {
  color: #333 !important;
}


@media screen and (max-width: 600px) {
  .head {
    margin-right: 0px;
  }
  h3 {
    font-size: 10px;
  }
  .image {
    object-fit: contain;
    width: 40px;
    height: 40px;
  }
  .quantity span {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .price {
    font-size: 1rem;
    font-weight: bold;
  }
  
}