


.button span {
  margin: 0 0.5rem;
}

.badge {
  border-radius: 30px;
  padding: 0.15rem 1.25rem;
  color: #1d1d1d;
}

.button-badge {
  background-color: #7c7b73;
  border-radius: 30px;
  padding: 0.15rem 1.25rem;
  color: #1d1d1d;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}