.form {
    display: flex;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5px
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  input {
    padding: 10px;
    min-width: 300px !important;
    width: 70% !important;
    margin: 0 -5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .form-btn {
    background-color: #4285f4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    width: 100%;
    height: 50px;
    margin: 6px 15px;
    
  }
  
  button:hover {
    background-color: #3367d6;
  }
  
  .error-msg {
    font-size: 12px;
    color: #bf6f6f;
    margin-bottom: 20px;
  }

  .button-container {
    flex-direction: row !important;
    margin-top: 30px;

  }