

.page-container {
    background-color: #fff !important;
    height: 1000px;
    margin-top: 17px;
}

.page-img {
    margin: 48px;
    width: 500px;
    height: 500px;
}

.page-button {
    border: 2px solid #ada8a8 !important;
    color: #f0a636;
    background-color: #fff; 
    margin-top: 40px !important;
    float: right;
    padding: 16px;
    border-radius: 8px;
}

.page-button:hover {
    background-color: #8a8a8a !important;
    color: #fefefe !important;
}

h1 {
    color: #f49c19;
}

.page {
    line-height: 25px;
    color: #6e6e6e;
}

.info-container {
    border: 2.5px solid #9a9898;
}

.info-container > h3,
.info-container > p {
    margin-left: 30px;
}

.info-container > p > a {
    color: #5d9c70
}

.info-container > p > b {
    color: #050505;
}

.deliver {
    font-size: 13px !important;
    color: rgb(122, 133, 200);
    /* text-decoration: underline; */
}
.location-icon {
    font-size: 12px !important;
}
.sale {
    font-size: 13px;
}

.stock {
    color: #5d9c70
}
.out-stock {
    color: rgb(192, 83, 83);
}