.admin-table {
    text-align: center;
    margin-top: 70px; 
}

.product-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.data-card {
    background-color: rgb(255, 255, 255) !important;
    color: #1f1f1f !important
}

.dashboard-img {
    max-width: 100px;
    margin-bottom: 20px;
}