.history-card {
    border: 1px solid #c0bdbd;
    width: 100%;
    background-color: #fff;
    margin: 50px auto;
    border-radius: 6px;
    box-shadow: 0 0 2px 2px #8f8f8f;
    padding: 20px;
    display: grid;
    margin:  30px;
    min-height: 425px;
    max-height: 825px;
    overflow: scroll;
    margin-left: 10px;
  }
  
  .order-grid {
    min-height: 300px;
    border-bottom: 1px solid #333;
    margin-bottom: 30px;
    margin-top: 30px;
  }


  .user-data {
    font-size: 13px;
    color: rgb(125, 125, 125);

  }

 .history-icon {
    color: #ccc;
    font-size: 39px !important;
    display: inline-block;
    vertical-align: top;
    margin-top: 7.6px;
 }


 .history-icon:hover {
    cursor: pointer;
    opacity: 0.7;
 }

 .order-li-item {
    margin: 15px 0;
 }

 @media screen and (max-width: 600px) {
  .history-card {
    border: 1px solid #c0bdbd;
    /* width: 100%; */
    width: 380px;
    background-color: #fff;
    /* margin: 50px auto; */
    margin-top: 50px;
    margin-right: 40px;
    border-radius: 6px;
    box-shadow: 0 0 2px 2px #8f8f8f;
    padding: 20px;
  }
 }

 .order-btn {
  background-color: #5180ee;
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
 }


 .review-form-group {
  margin: 26px 0;
 }
 .review-form-select {
  display: flex;
  width: 100%;
  margin: 20px 0;
  padding: 10px 0;
 }

 .review-form-input {
  margin: 5px 0;
  width: 100% !important;
 }
 .review-form-input-cmt {
  height: 140px; /* Set your preferred height */
  width: 100%; /* Set your preferred width */
  resize: vertical; 
 }

 .review-form {
  width: 500px !important;
 }

 .review-form-btn {
  padding: 8px;
  margin: 0 2px;
 }

 .submit {
  background-color: rgba(74, 74, 74, 0.884);
  color: #fff;
 }

 .cancel {
  background-color: #c90f0f;
  color: #fff;
 }